<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat Application</title>
  <link rel="stylesheet" href="/css/chatMainPage.css">
  <link rel="icon" type="image/x-icon" href="/views/favicon.png">
</head>
<body>
  
    <nav class="top-nav">
      <p id="username"></p>
      <div id="openDialogDiv"><button id="openDialog">New Group +</button></div>
      <div><button id="display-group-name">Global </button><button id="close-group">X</button></div>
      <div class="logout-btn"><button class="logout">Logout</button></div>

      </nav>

      <dialog id="myDialog">
        <button id="closeDialog" class="closeDialog">X</button>
        <p>Create Group.</p>
        <form id="dialogForm" class="dialogForm">
          <input type="text" class="formItem" name="groupName" placeholder="Give your group a name" />
          <input type="text" class="formItem" name="membersName" placeholder="Enter members email comma separated" />
          <button type="submit" class="dialogbtn">Create Group</button>

        </form>
      </dialog>
      
      <dialog id="groupInfoDialog">
        <button id="closeInfoDialog" class="closeDialog">X</button>
        <p>Edit Group.</p>
        <form id="editGroupForm">
          <input type="text" placeholder="Enter members email comma separated" name="membersName" required />
          <button type="submit" class="dialogbtn">Add Members</button>
        </form>
        <table id="infoTable"></table>

      </dialog>
      
  
  <main>
    <aside>
        <!-- <button class="side-panelbtn">User 2</button> -->
        <!-- <div class="sideDiv"><button id="groupId" class="groupNameBtn">Group-1</button><button id="groupInfo" class="groupInfoBtn">!</button></div> -->


       
      </aside>
    <section class="chat-area">
      
     
       
        
      
      
     
        <!-- <div class="message sender">
            <div class="text">Hello! How are you?</div>
        </div>

        <div class="message other">
            <div class="name">Alice</div>
            <div class="text">I'm good, thanks! How about you?</div>
        </div> -->
    
   
        
        
      </section>





  </main>
  <form class="message-form">
    <input type="text" placeholder="Type your message..." name="message" id="inputtext">
    <button type="submit">Send</button>
  </form>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js"></script>

  <script src='/socket.io/socket.io.js'></script>

  <script>
  const socket= io();
</script>
<script src="/scripting/chatPage.js"></script>

</body>
</html>
