body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  

   nav{
    background-color: rgba(4, 17, 46, 0.934);
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  } 
  

    #username {
    display: block;
     width: 3%;
    /* height: 97%; */
    padding-left: 0.3rem;
    margin-left:0.3rem ;
    text-align:center;
    text-decoration: solid;
    color:antiquewhite;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#openDialogDiv{
  float: left;
 
}

#openDialog{
  border-radius: 0.3rem ;
  background-color: rgba(30, 170, 30, 0.913);
  /* margin: auto; */
  border: none;
  padding: 0.4rem;
  float: left;

}

  .logout {
    background-color: rgb(123, 14, 145);
    color: white;
    padding: 0.5rem 0.8rem;
    border: none;
    border-radius: 48%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    float: right;
    margin-right: 1vw;
    
  }
  
  .logout:hover {
    background-color: rgba(104, 30, 0, 0.895);
    box-shadow: 0 0 15px rgba(211, 211, 211, 0.8);
  }
  
  main {
    display: flex;
    height: calc(100vh - 45px);
    margin-top: 55px;
  }
  
  aside {
    background-color: rgba(28, 113, 150, 0.247);
    width: 25%;
    overflow: auto;
    /* padding: 10px; */
    height: 100vh;
  }

  .side-panelbtn{
    width:100%;
    background-color: rgba(178, 226, 247, 0.454);
    color: black;
    border: none;
    padding: 1rem ;
    text-align: left;
    
    
  }

  .side-panelbtn:hover{
    background-color: rgba(14, 121, 167, 0.374);
  }

  
  /* /////////-Chat-Area- ////////// */
 
.chat-area {
  width: 75%;
  overflow-y: auto;
  background-color: #fff;
  padding: 0.7rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.message {
  max-width: 50%;
  margin: 0.2rem;
  padding: 0.7rem;
  border-radius: 2rem;
  background-color: rgba(28, 113, 150, 0.247);
  align-self: flex-start;
}

.sender {
  align-self: flex-end;
  background-color: rgba(237, 70, 9, 0.765);
  box-shadow: 0rem 0.12rem 0.6rem rgba(205, 41, 12, 0.628);
  
}

.name {
  font-size: 0.8em;
  color: #555;
  margin-bottom: 0.2rem;
}

.text {
  font-size: 1em;
}

/* /////// -Chat-Area- /////// */
  

  
  .message-form {
    position: fixed;
    bottom: 0;
    right: 0;  /* Moved to right side */
    width: 78%;  /* Set width to 80% */
    background-color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    width: 70%;
  }
  
  .message-form input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  
  .message-form button {
    background-color: rgba(11, 154, 142, 0.895);
    color: white;
    padding: 0.7rem 0.9rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
  }

  .message-form button:hover{
    background-color: rgb(4, 120, 110)

  }


  /* --------Dialog-Box-------- */

  /* styles.css */
dialog {
  border: none;
  border-radius: 1rem;
  padding:2rem;
  margin: 2rem;
  box-shadow: 0 0.6rem 0.8rem rgba(28, 113, 150, 0.247);
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

#closeDialog{
  color:red;
  border: none;
  padding: 0;
}

#dialogbtn{
  background-color: rgba(11, 154, 142, 0.895);
  color: white;
  padding: 0.3rem 0.6rem;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
}

#dialogbtn:hover{
  background-color: rgb(4, 120, 110)

}

#dialogForm{
  display: flex;
  flex-direction: column;

}

.formItem{
  margin-bottom: 0.5rem;
}

